@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --color-danger: #FF0060;
  --color-success: #1B9C85;
  --color-warning: #F7D060;
  --main-color: #0ea5e9;

  --bg-box: #EBF4FF;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

}

.light__theme {
  --text: #3e4c5f;
  --bg-main: #F8FAFC;
  --text-color: #0f172a;
  --bg-btn: #0F172A;
  --navbar: #FFFFFF;
  --card: #ECF4F4;
  --stripe-color: #e9e9e9;
  --input-box: #F0F8FF;
  --hover-color: #dfdfdf;
  --hover-btn: #9c9c9c;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --menu: #6dbae9;
}

.dark__theme {
  --text: #94a3b8;
  --bg-main: #0B1120;
  --text-color: #FFFFFF;
  --bg-btn: #0ea5e9;
  --navbar: #060913;
  --stripe-color: #273C53;
  --input-box: #1E293B;
  --hover-color: #3C3C3C;
  --box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
}


html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  place-items: center;
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  --sb-track-color: #eee;
  --sb-thumb-color: #0ea5e9;
  --sb-size: 5px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  user-select: none;
  -webkit-user-drag: none;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;

}

.app {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: var(--bg-main);
  font-size: 1.3rem;


}

.container {
  display: flex;
  align-items: flex-start;
  margin-top: 6.5rem;
  margin-bottom: 8.5rem;
  height: calc(100vh - 6.5rem - 8.5rem);
}

.main {
  flex: 1;
  margin: 0 1rem;
  height: 100%;
  position: relative;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  border: 0.1rem solid var(--stripe-color);
  background-color: var(--navbar);

  &::-webkit-scrollbar {
    width: 0.1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
  }

  scrollbar-width: thin;
  scrollbar-color: var(--main-color) transparent;
}

.notrack {
  margin-bottom: 0;
  height: calc(100vh - 6.5rem);
}

a {
  text-decoration: none;
  color: #0ea5e9;
}

li {
  list-style: none;
}

button {
  background-color: var(--bg-btn);
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: inherit;
  padding: 0.5rem 1rem;

}

img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #0a1530;
}

h1 {
  font-weight: 800;
  font-size: 2rem;
  color: var(--text-color);
}

h2 {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--text-color);
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--text-color);
}

h6 {
  font-weight: 800;
  font-size: 3rem;
  color: var(--text-color);
}

small {
  font-size: 0.76rem;


}


input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 7.5rem;
  height: 0.6rem;
  background-color: var(--hover-color);
  overflow: hidden;
  border-radius: 999px;
  -webkit-transition: height .1s;
  -o-transition: height .1s;
  transition: .1s;
  cursor: inherit;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--text-color);
  -webkit-box-shadow: -100vw 0 0 100vw var(--text-color);
  box-shadow: -100vw 0 0 100vw var(--text-color);
  cursor: pointer;
}

input[type="range"]:hover {
  height: 1rem
}

input[type="range"]:hover::-webkit-slider-thumb {
  -webkit-box-shadow: -100vw 0 0 100vw var(--main-color);
  box-shadow: -100vw 0 0 100vw var(--main-color);
  background-color: var(--main-color);

}


@media only screen and (max-width: 601px) {
  .main {
    margin: auto 0.5rem;
  }
}