.container {
    width: 100%;
    margin-bottom: 5rem;
}

.input__box {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--input-box);
    height: 3.5rem;
    border: 1px solid var(--stripe-color);
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out 0.1s;
}

.input__box input,
.input__box .result,
.input__box textarea {
    width: 0%;
    flex: 1;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.3rem;
    color: var(--text-color);
}

.text__box {
    height: auto;
    align-items: flex-start;
    padding: 1rem 0;
}

.text__box textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
    min-height: 25rem;
}

label {
    position: relative;
    padding-left: 1rem;
    transition: all 0.4s ease-in-out 0.1s;
    white-space: nowrap;
}

.input__box .icon,
.input__box .show {
    flex: 0 0 auto;
    background-color: transparent;
    color: var(--text-color);
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.6rem;

    :hover {
        transform: scale(1.1);
    }

}

.input__box .show {
    display: none;
}

.container:focus-within .input__box,
.input__box.has__value,
.input__box.input__color {
    border: 1px solid var(--main-color);


    .show {
        visibility: hidden;
        display: unset;
    }

    &.type__pwd .show {
        visibility: unset;
        display: flex;
    }

    &>label {
        position: absolute;
        top: -1rem;
        padding-left: 0;
        font-weight: 600;
        left: 0;
        transform: translate(0, -50%);
        transition: all 0.4s ease-in-out 0.1s;
    }
}

.error {
    margin: 0.5rem 1rem 1.5rem;
    min-height: 1.8rem;
    width: 100%;
    font-size: 1.3rem;
    color: var(--color-danger);
}

h1.name {
    font-size: 1.3rem;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}

h1.name::after {
    content: ' : ';
}

p.value {
    background-color: var(--input-box);
    height: 3.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.toggle {
    display: flex;
    align-items: center;

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 4rem;
        height: 2rem;
        background: var(--hover-btn);
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0.3rem;
        width: 1.7rem;
        height: 1.7rem;
        background: var(--navbar);
        border-radius: 9rem;
        transition: 0.3s;
    }

    input:checked+label {
        background-color: var(--bg-btn);
    }

    input:checked+label:after {
        left: calc(100% - 0.3rem - 1.7rem);
        transform: (0, -50%);
    }
}

.input__file {
    position: relative;
    display: inline-flex;
    width: 20rem;
    height: 20rem;
    background-color: var(--input-box);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 0.1rem dashed var(--main-color);

    .filename {
        position: absolute;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 1.4rem;
    }

    img {
        width: 100%;
        border-radius: 1rem;
    }

    .change__file {
        width: 100%;
        height: 100%;
    }

    label {
        display: inline-flex;
        gap: 1rem;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;


        svg {
            font-size: 4rem;
        }

        cursor: pointer;
    }

    input {
        display: none;
    }

    .delete__image {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
    }
}

.selector {
    height: 2rem;
    text-align: unset;
    position: relative;
    width: 100%;
    margin-bottom: 5rem;

    .input__box {
        padding-left: 2.5rem;
    }

    &>label {
        position: absolute;
        top: -1rem;
        padding-left: 0;
        font-weight: 600;
        left: 0;
        transform: translate(0, -50%);
    }

    &>.wrapper {
        position: absolute;
        top: calc(100% + 2rem);
        left: 0;
        width: 100%;
        height: 25rem;
        overflow: auto;
        border: 0.1rem solid var(--stripe-color);
        background-color: var(--navbar);
        padding: 0.5rem;
        z-index: 1;
    }

    .item__selector {
        height: 4rem;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: all 0.4s;

        &:hover {
            background-color: var(--hover-color);
        }
    }

    .result {
        display: flex;
        align-items: center;
    }

}