.sidebar {
    position: relative;
    padding: 1rem 0 0 0;
    height: 100%;
    background: var(--navbar);
    width: 25rem;
    display: flex;
    flex-flow: column;
    border: 0.1rem solid var(--stripe-color);
    box-shadow: var(--box-shadow);
    border-radius: 0 0.5rem 0.5rem 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 1rem;
}

.hover__content {
    position: absolute;
    top: 50%;
    left: calc(100% + 1rem);
    left: 2;
    transform: translate(0, -50%);
    font-size: 1.4rem;
    white-space: nowrap;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--hover-color);
    color: var(--text-color);
    z-index: 9999;
    display: none;

}

.item__hover__content {
    position: fixed;
    font-size: 1.4rem;
    white-space: nowrap;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--hover-color);
    color: var(--text-color);
    z-index: 9999;
    transform: translate(calc(5rem + 2rem), 20%);
    display: none;
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: var(--text);
    transition: display color ease-in 0.3s;
    cursor: pointer;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &>.link__name {
        font-size: 1.8rem;
        white-space: nowrap;
    }

    &:hover,
    &:focus-within {
        color: var(--text-color);
        background-color: var(--hover-color);
    }
}


.my__list {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1rem 0 1rem;

    &::-webkit-scrollbar {
        width: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
    }

    scrollbar-width: thin;
    scrollbar-color: var(--main-color) transparent;
}

.item__list {
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: var(--text);
    transition: display color ease-in 0.3s;
    cursor: pointer;
    gap: 1rem;
    padding: 1rem;

    &>.icon {
        width: 5rem;
        height: 5rem;
        flex: 0 0 auto;
        border-radius: 0.3rem;

        img {
            border-radius: 0.3rem;
        }
    }

    &>.name__item {
        font-size: 1.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;

        a {
            color: var(--text);
        }
    }

    &:hover,
    &:focus-within {
        color: var(--text-color);
        background-color: var(--hover-color);
    }

}





@media only screen and (max-width: 1101px) {
    .sidebar {
        width: 7.5rem;
        padding: 0.5rem;
    }

    .menu,
    .item__list,
    .my__list {
        padding: 0;
    }

    .item__list {
        position: relative;
        width: 5rem;
        height: 5rem;

        &:hover .hover__content {
            display: block;
        }
    }

    .icon {
        width: 100%;
        height: 100%;
    }

    .my__list {
        gap: 0.5rem;
    }

    .link__name,
    .name__item {
        display: none;
    }

    .link:hover .hover__content,
    .item__list:hover .hover__content,
    .item__hover__content {
        display: block;
    }
}

@media only screen and (max-width: 601px) {
    .sidebar {
        display: none;
    }


    .show {
        display: flex;
    }


    .link:hover .hover__content,
    .item__list:hover .hover__content,
    .item__hover__content {
        display: none;
    }

}