.track__animation {
    height: 2.5rem;
    display: flex;
    align-items: flex-end;
}

.track__animation span {
    width: 0.5rem;
    height: 1rem;
    margin-left: 1px;
    background-color: #acf;
    display: inline-block;
    transform-style: preserve-3d;
    animation: music 1.5s infinite ease-in-out;
}

.track__animation span:nth-of-type(2) {
    animation-delay: 0.2s;
}

.track__animation span:nth-of-type(3) {
    animation-delay: 0.4s;
}

.track__animation span:nth-of-type(4) {
    animation-delay: 0.6s;
}

.track__animation span:nth-of-type(5) {
    animation-delay: 0.8s;
}

.track__animation span:nth-of-type(6) {
    animation-delay: 1s;
}

.track__animation span:nth-of-type(7) {
    animation-delay: 1.2s;
}

.track__animation span:nth-of-type(8) {
    animation-delay: 1.4s;
}

.track__animation span:nth-of-type(9) {
    animation-delay: 1.6s;
}

.track__animation span:last-of-type {
    animation-delay: 1.8s;
}

@keyframes music {
    0% {
        height: 1.5rem;

        background-color: #becddd;
    }

    25% {
        height: 2rem;

        transform: translateZ(30px);

        background-color: #759abe;
    }

    50% {
        height: 2.5rem;
        background-color: #b4cfe9;
    }

    75% {
        background-color: #d1dae4;
    }
}